<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="no-cache">

    <title>Jadlospis</title>
    <script type="text/javascript" src="/webjars/jquery/1.12.0/jquery.js"></script>

    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylePage.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styleMeal.css"/>
    <link rel="stylesheet" href="/webjars/jquery-ui/1.12.0/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light  bg-navbar mr-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="50" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 s">
                <li  class="nav-item ">
                    <a id="jadlospis" class="nav-link font" ><img src="img/restaurant.png" width="20" height="20" alt="" class="align-top"> JADŁOSPIS</a>
                </li>
                <li class="nav-item">
                    <a id="licznik" class="nav-link font" th:href="@{/measurement}"><img src="img/cwiczenia.png" width="20" height="20" alt="" class="align-top"> POMIAR CIALA</a>
                </li>

            </ul>
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-color" type="submit" value="Wyloguj sie" />
            </form>
        </div>
    </div>
</nav>
<form th:action="@{/foodmenu}">
<div class="d-flex justify-content-center">
    <div class="callender">
        <div class="col-sm mb-2 m-2">
            <div class="form-group">
                <input th:value="${dates}" type="date" name="dates" id="dates" class="form-control"  >
                <input class="btn btn-color" type="submit" value="Szukaj">
            </div>
        </div>
    </div>
</div>
</form>
<main>
    <div class="container">

        <div id="result">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" >Nazwa</th>
                        <th scope="col" >Kalorie</th>
                        <th scope="col" >Białko</th>
                        <th scope="col" >Tłuszcze</th>
                        <th scope="col" >Węglowodany</th>
                        <th scope="col">Akcje</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr class="item-model-number " th:each="calorie:${listCalorie2}">
                        <td id="name1" th:text="${calorie.nazwa}"></td>
                        <td id="kaloriecheck" th:text="${calorie.kalorie_posilku}"></td>
                        <td id="bialkocheck" th:text="${calorie.bialko_posilku}"></td>
                        <td id="tluszczecheck" th:text="${calorie.tluszcze_posilku}"></td>
                        <td id="weglecheck" th:text="${calorie.wegle_posilku}"></td>
                        <td id="usun">
                            <a th:href="@{'/delete/' + ${calorie.id_posilku}}"><i class="bi bi-trash-fill text-danger"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


<!--        <div class="progresss">-->
<!--            Kalorie-->
<!--            <div class="progress prog" style="width:10%;margin-left: 10px;float: left;margin-right: 10px;" >-->
<!--                <div class="progress-bar bg-success" role="progressbar" style="width:'.(($ile_zjadles_progess*100)/$zapotrzebowanieUzytkownika).'%"  aria-valuenow="'.($ile_zjadles_progess/100).'" aria-valuemin="0" aria-valuemax="'.$zapotrzebowanieUzytkownika.'"></div>-->
<!--            </div>-->
<!--            '.$ile_zjadles_progess.'/<a th:text = "${demand.zapotrzebowanie}">kcal </a>-->
<!--        </div>-->

<!--        <div class="progresss">-->
<!--            Bialko-->
<!--            <div class="progress" style="width: 10%;float: left;margin-left: 10px;margin-right: 10px">-->
<!--                <div class="progress-bar bg-info" role="progressbar" style="width:'.(($ile_bialka_progess*100)/$zapotrzebowanieBialko).'%"  aria-valuenow="'.($ile_bialka_progess/100).'" aria-valuemin="0" aria-valuemax="'.$zapotrzebowanieBialko.'"></div>-->
<!--            </div>-->
<!--            '.$ile_bialka_progess.'/'.$zapotrzebowanieBialko.' g-->
<!--        </div>-->
<!--        <div class="progresss">-->
<!--            Tłuszcze-->
<!--            <div class="progress" style="width: 10%;float: left;margin-left: 10px;margin-right: 10px">-->
<!--                <div class="progress-bar bg-warning" role="progressbar" style="width:'.($ile_tluszczy_progess*100)/$zapotrzebowanieTluszcze.'%"  aria-valuenow="'.($ile_tluszczy_progess/100).'" aria-valuemin="0" aria-valuemax="'.$zapotrzebowanieTluszcze.'"></div>-->
<!--            </div>-->
<!--            '.$ile_tluszczy_progess.'/'.$zapotrzebowanieTluszcze.' g-->
<!--        </div>-->
<!--        <div class="progresss">-->
<!--            Węglowodany-->
<!--            <div class="progress " style="width: 10%;margin-left: 10px;;margin-right: 10px">-->
<!--                <div class="progress-bar bg-danger" role="progressbar" style="width:'.($ile_wegli_progess*100)/$zapotrzebowanieWegle.'%"  aria-valuenow="'.($ile_wegli_progess/100).'" aria-valuemin="0" aria-valuemax="'.$zapotrzebowanieWegle.'"></div>-->
<!--            </div>-->
<!--            '.$ile_wegli_progess.'/'.$zapotrzebowanieWegle.' g-->
<!--        </div>-->

        <form>
            <p class="text-center mt-2" >Dodaj własne kalorie posiłku</p>
            <div class="row mt-2 text-center" >
                <div class="col-sm col-lg col-md">
                    <div class="form-group">
                        <label for="name">Podaj nazwe</label>
                        <input type="text" name="name" id="name" class="form-control"  required>
                    </div>
                </div>
                <div class="col-sm mb-2 m-2">
                    <div class="form-group">
                        <label for="ilosc">Podaj ilość (g)</label>
                        <input type="number" onkeypress="return event.charCode >= 48"  min="0" name="ilosc" id="ilosc" class="form-control" required>
                    </div>
                </div>
                <div class="col-sm col-md-2 mb-2 m-2">
                    <div class="form-group">
                        <label for="kalorie">Podaj ilosc kalorii na 100(g)</label>
                        <input type="number" onkeypress="return event.charCode >= 48"  min="0" name="kalorie" id="kalorie" class="form-control" required>
                    </div>
                </div>
                <div class="col-sm col-md-2 mb-2 m-2">
                    <div class="form-group">
                        <label for="weightProtein">Podaj ilosc białka na 100(g)</label>
                        <input type="number" onkeypress="return event.charCode >= 48"  min="0" name="weightProtein" id="weightProtein" class="form-control" required>
                    </div>
                </div>
                <div class="col-sm mb-2 m-2">
                    <div class="form-group">
                        <label for="weightFat">Podaj ilosc tłuszczu na 100(g)</label>
                        <input type="number" onkeypress="return event.charCode >= 48"min="0" name="weightFat" id="weightFat" class="form-control mb-2" required>
                    </div>
                </div>
                <div class="col-sm mb-2 m-2">
                    <div class="form-group">
                        <label for="weightCarbo">Podaj ilosc węglowodanów na 100(g)</label>
                        <input type="number" onkeypress="return event.charCode >= 48"   min="0" name="weightCarbo" id="weightCarbo" class="form-control mb-2" required>
                    </div>
                </div>
                <div class="button">
                    <input class="btn btn-color mb-2 col-3" type="button" value="Dodaj posiłek" onclick="wyslijPosilek()">
                </div>
            </div>
        </form>

        <div class="errorText"></div>
        <div class="ukryte_dodawanie">
            <div class="d-flex justify-content-center">
                <form th:action="@{/foodmenu}" id="searchForm">
                    <label for="keyword" class="text-center ms-3" >Wyszukaj posiłek w bazie: </label>
                    <input type="text" th:value="${keyword}" id="keyword" name="keyword" placeholder="Wyszukaj posiłek">
                    &nbsp;
                    <input class="btn btn-color" type="submit" value="Szukaj">
                </form>
            </div>
        </div>
        <div id="resultshare2">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" >Nazwa</th>
                        <th scope="col" >Kalorie na 100g</th>
                        <th scope="col" >Białko</th>
                        <th scope="col" >Tłuszcze</th>
                        <th scope="col" >Węglowodany</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="item-model-number " th:each="calorie:${listCalorie}">
                        <td id="name2" th:text="${calorie.nazwa}"></td>
                        <td id="kaloriecheck1" th:text="${calorie.kaloriena100}"></td>
                        <td id="bialkocheck1" th:text="${calorie.bialko_posilku}"></td>
                        <td id="tluszczecheck1" th:text="${calorie.tluszcze_posilku}"></td>
                        <td id="weglecheck1" th:text="${calorie.wegle_posilku}"></td>
                        <td id="dodaj" onclick="dodajIstniejace()">wybierz</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>



</main>
<script src="/webjars/sweetalert/2.1.0/sweetalert.min.js"></script>
<script src="/js/addMeal.js"></script>
<script src="/js/shareMeal.js"></script>
<script src="/webjars/jquery-ui/1.12.0/jquery-ui.js"></script>

</body>

</html>