<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styleRegLog.css"/>
</head>
<body>
<div class="container">
    <div class="nextContainer">
        <header>Zaloguj się</header>
        <div th:if="${param.error}" class="text-danger text-center">
            Nieprawidłowy login lub haslo.
        </div>
        <div th:if="${param.logout}" class="text-success text-center">
            Pomyślnie wylogowano.
        </div>
        <form th:action="@{/login}" method="post" >
            <div class="loginDetails">
                <div class="dataSpace">
                    <label>Login</label>
                    <input type="text" placeholder="Login" name="username" required>
                </div>
                <div class="dataSpace">
                    <label>Haslo</label>
                    <input type="password" placeholder="Haslo" name="password" required>
                </div>
                <div class="dataSpace button">
                    <input type="submit" value="Zaloguj się">
                </div>
            </div>
            <div class="errorText"></div>
        </form>
        <div class="link">Nie posiadasz konta? Zarejestruj się <a th:href="@{/register}">tutaj</a></div>
    </div>

</div>
</body>
</html>
</body>
</html>