<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styleRegLog.css"/>
</head>
<body>
<div class="container">
    <div class="nextContainer">
        <header>Pomyslna rejestracja</header>
        <div class="link">Zaloguj sie tutaj: <a th:href="@{/login}">tutaj</a></div>
    </div>

</div>
</body>
</html>